<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p><a href="https://hanaseru.connect-flow.me/users">Dashbored</a>をチェック</p>
    <hr>
    <%= yield %>
  </body>
</html>