<%= form_for @user do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul style="list-style-type: none; padding: 0px;">
    <li><%= f.label :お名前 %></li>
    <li><%= f.text_field :name, :class => 'form-control step-width' %></li>
    <br>
    <!-- <li><%#= f.label :メールアドレス %></li>
    <li><%#= f.text_field :email, :class => 'form-control step-width' %></li>
    <br>
    <li><%#= f.label :電話番号 %></li>
    <li><%#= f.text_field :phone_number, :class => 'form-control step-width' %></li>
    <br>
    <li><%#= f.label :年齢 %></li>
    <li><%#= f.select :age, [["学生(20代含む)", "student"], ["20代", "twentieth"], ["30代", "thirtieth"], ["40代", "fortieth"], ["50代", "fiftieth"], ["60代以上", "sixtieth"]], {:prompt => "年齢を選択"}, {class: 'form-control step-width', required: true } %></li>
    <br> -->
    <li><%= f.label :留学の目的 %></li>
    <li><%= f.select :purpose, [["英会話力UP", "skill_up"], ["試験スコアアップ", "score_up"], ["ワーホリ準備", "working_holiday"], ["海外転職", "job_change"]], {}, {class: 'form-control step-width'} %></td></li>
    <br>
    <li><%= f.label :英語レベル %></li>
    <li><%= f.select :level, [["初心者", "beginner"], ["日常会話", "conversation"], ["ビジネス", "business"]], {}, {class: 'form-control step-width'} %></li>
    <br>
    <!-- <li><%#= f.label :時期 %></li>
    <li><%#= f.select :season, [["なるべく早く", "soon"], ["3ヶ月以内", "3_months"], ["半年以内", "6_months"], ["それ以上", "later"]], {}, {class: 'form-control step-width'} %></li> -->
    <br> -->
    <li><%= f.select :area_preference, [["セブ", "cebu"], ["マニラ", "manila"], ["バギオ", "baguio"], ["その他", "other"], ["未定", "undecided"]], {:prompt => "ご希望の地域を選択"}, {class: 'form-control step-width', required: true} %></li>
    <br>
    <li><%= f.select :school_level, [["A. 施設や食事が充実", "high_end"], ["B. とにかく安く行きたい", "reasonable"]], {:prompt => "質問１：予算感について"}, {class: 'form-control step-width', required: true} %></li>
    <br>
    <li><%= f.select :school_type, [["A. とにかく英語を伸ばしたい", "study_hard"], ["B. 遊びもしっかり充実", "play_hard"]], {:prompt => "質問２：学校のタイプについて"}, {class: 'form-control step-width', required: true} %></li>
    <br>
    <li><%= f.select :school_scale, [["A. 大規模校で交流を楽しみたい", "big_school"], ["B. 小規模でアットホーム", "at_home"]], {:prompt => "質問３：学校の規模について"}, {class: 'form-control step-width', required: true} %></li>
    <br>
    <li><%= f.select :japnum, [["A. 日本人スタッフがいて安心", "many-jap"], ["B. 日本人少ない環境で頑張りたい", "few-jap"]], {:prompt => "質問４：現地の日本人の多さについて"}, {class: 'form-control step-width', required: true} %></li>
    <li><%= f.text_field :email, :placeholder =>"example@mail.com", :class => 'form-control step-width' , required: true %></li>
  </ul>
<% end %>
