<p class="admin-header">Dashboard - edit</p>

<div style="margin: 20px;">
  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %> |
  <%= link_to 'Show', @user %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>