<p class="admin-header">Dashboard</p>
<table class="table table-striped"><!--    -->
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>お名前</th>
      <th>目的</th>
      <th>英語レベル</th>
      <th>希望地域</th>
      <th>予算感</th>
      <th>学習タイプ</th>
      <th>学校規模</th>
      <th>日本人の多さ</th>
      <th>メアド</th>
      <th>作成日時</th>
      <!-- <th>更新日時</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.purpose %></td>
        <td><%= user.level %></td>
        <td><%= user.area_preference %></td>
        <td><%= user.school_level %></td>
        <td><%= user.school_type %></td>
        <td><%= user.school_scale %></td>
        <td><%= user.japnum %></td>
        <td><%= user.email %></td>
        <td><%= simple_time(user.created_at) %></td>
        <!-- <td><%= user.updated_at %></td> -->

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>