<p class="admin-header">Dashboard - show</p>
<p id="notice"><%= notice %></p>

<div style="margin: 20px;">
  <ul style="list-style-type: none; padding: 0px;">
    <li><strong>ID : </strong><%= @user.id %></li>
    <li><strong>お名前 : </strong><%= @user.name %></li>
    <li><strong>目的 : </strong><%= @user.purpose %></li>
    <li><strong>英語レベル : </strong><%= @user.level %></li>
    <li><strong>希望地域 : </strong><%= @user.area_preference %></li>
    <li><strong>予算感 : </strong><%= @user.school_level %></li>
    <li><strong>学習タイプ : </strong><%= @user.school_type %></li>
    <li><strong>学校規模 : </strong><%= @user.school_scale %></li>
    <li><strong>日本人の多さ : </strong><%= @user.japnum %></li>
    <li><strong>メールアドレス : </strong><%= @user.email %></li>
    <li><strong>作成日時 : </strong><%= simple_time(@user.created_at) %></li>
  </ul>

  <%= link_to 'Back', users_path %> |
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>