<div class="step">
  <div class="step-content">
    <p>診断結果の送付先メールアドレスを<br>ご入力ください。</p>
    <%= form_for @user, url: wizard_path do |f| %>

      <%= render :partial => 'steps/error_message' %>

      <ul style="list-style-type: none; padding: 0px; margin: 20px 0px 0px 0px;">
        <!-- <li><%#= f.select :season, [["なるべく早く", "soon"], ["3ヶ月以内", "3_months"], ["半年以内", "6_months"], ["それ以上", "later"]], {:prompt => "ご希望の留学時期を選択"}, {class: 'form-control step-width', required: true} %></li>
        <li><%#= f.select :age, [["学生(20代含む)", "student"], ["20代", "twentieth"], ["30代", "thirtieth"], ["40代", "fortieth"], ["50代", "fiftieth"], ["60代以上", "sixtieth"]], {:prompt => "年齢を選択"}, {class: 'form-control step-width', required: true } %></li> -->
        <li><%= f.text_field :email, :placeholder =>"example@mail.com", :class => 'form-control step-width' , required: true %></li>
      </ul>

      <%= f.submit 'メールで診断結果を受け取る', :class => 'btn btn-danger step-width badge-pill' %>
    <% end %>
  </div>
</div>