<h1>人生を変える<br>フィリピン留学</h1>
<p class="lower-title">セブ・バギオ紹介実績多数</p>


<div class="step">
  <div class="step-content">
    <p class="step-header-a">あなたに合った学校を診断！</p>
    <!-- <p class="step-header-b">＊3ステップで簡単検索＊</p> -->
    <%= form_for @user, remote: true do |f| %>

    <%= render :partial => 'steps/error_message' %>

    <ul style="list-style-type: none; padding: 0px; margin: 10px 0px 0px 0px;">
      <li><%= f.text_field :name, :placeholder =>"お名前（診断結果の表示用）", :class => 'form-control step-width', :required => true %></li>
      <li><%= f.select :purpose, [["英会話力UP", "skill_up"], ["試験スコアアップ", "score_up"], ["ワーホリ準備", "working_holiday"], ["海外転職", "job_change"], ["親子留学", "parent_and_child"], ["シニア留学", "senior"]], {:prompt => "留学の目的を選択"}, {class: 'form-control step-width', required: true} %></li>
      <li><%= f.select :level, [["初心者", "beginner"], ["日常会話", "conversation"], ["ビジネス", "business"]], {:prompt => "あなたの英語レベルを選択"}, {required: true, class: 'form-control step-width'} %></li>
      <li><%= f.select :area_preference, [["セブ", "cebu"], ["マニラ", "manila"], ["バギオ", "baguio"], ["その他", "other"], ["未定", "undecided"]], {:prompt => "ご希望の地域を選択"}, {class: 'form-control step-width', required: true} %></li>
    </ul>

    <!-- <div class="checkbox">
        <p>学校の特徴を選択(複数可)</p>
        <div class="form-check">
          <%#= f.check_box :preference, {:multiple => true, include_hidden: false}, checked_value = "easy", unchecked_value = "" %>
          <%#= label_tag :preference, "初級者も安心" %>
        </div>
        <div class="form-check">
          <%#= f.check_box :preference, {:multiple => true, include_hidden: false}, checked_value = "cheap", unchecked_value = "" %>
          <%#= label_tag :preference, "授業料が安い" %>
        </div>
        <div class="form-check">
          <%#= f.check_box :preference, {:multiple => true, include_hidden: false}, checked_value = "play_hard", unchecked_value = "" %>
          <%#= label_tag :preference, "遊びも充実させたい" %>
        </div>
        <div class="form-check">
          <%#= f.check_box :preference, {:multiple => true, include_hidden: false}, checked_value = "study_hard", unchecked_value = "" %>
          <%#= label_tag :preference, "テスト対策に特化" %>
        </div>
        <div class="form-check">
          <%#= f.check_box :preference, {:multiple => true, include_hidden: false}, checked_value = "no_japanese", unchecked_value = "" %>
          <%#= label_tag :preference, "日本人が少ない" %>
        </div>
      </div> -->

    <%= f.submit '無料でおすすめの学校を診断', :class => 'btn btn-danger step-width badge-pill' %>
    <% end %>
  </div>
</div>