<div class="step">
  <div class="step-content">
    <p class="step-header-a">あなたに合った学校を診断！</p>
    <p class="step-header-b">＊2択からお選びください＊</p>
    <%= form_for @user, url: wizard_path do |f| %>

      <%= render :partial => 'steps/error_message' %>

      <ul style="list-style-type: none; padding: 0px; margin: 20px 0px 0px 0px;">
        <li><%= f.select :school_level, [["A. 施設や食事が充実", "high_end"], ["B. とにかく安く行きたい", "reasonable"]], {:prompt => "質問１：予算感について"}, {class: 'form-control step-width', required: true} %></li>
        <li><%= f.select :school_type, [["A. とにかく英語を伸ばしたい", "study_hard"], ["B. 遊びもしっかり充実", "play_hard"]], {:prompt => "質問２：学校のタイプについて"}, {class: 'form-control step-width', required: true} %></li>
        <li><%= f.select :school_scale, [["A. 大規模校で交流を楽しみたい", "big_school"], ["B. 小規模でアットホーム", "at_home"]], {:prompt => "質問３：学校の規模について"}, {class: 'form-control step-width', required: true} %></li>
        <li><%= f.select :japnum, [["A. 日本人スタッフがいて安心", "many-jap"], ["B. 日本人少ない環境で頑張りたい", "few-jap"]], {:prompt => "質問４：現地の日本人の多さについて"}, {class: 'form-control step-width', required: true} %></li>
        <!-- <li><%#= f.text_field :phone_number, :placeholder =>"電話番号08012345678", :class => 'form-control step-width', :required => true %></li>
        <li><%#= f.select :level, [["初心者", "beginner"], ["日常会話", "conversation"], ["ビジネス", "business"]], {:prompt => "あなたの英語レベルを選択"}, {required: true, class: 'form-control step-width'} %></li> -->
      </ul>

      <%= f.submit '無料でおすすめの学校を診断', :class => 'btn btn-danger step-width badge-pill' %>
    <% end %>
  </div>
</div>