<div class="step">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="step-content">
          <p>ご入力ありがとうございます。<br><br>診断結果をお送りしますので、<br>少々お待ちくださいませ。</p>

          <!-- <div class="line_friend_button">
            <a href="https://line.me/R/ti/p/%40ukz1853u" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'counsellor'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button"><img height="60" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
          </div> -->


          <a class="btn btn-success badge-pill" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'thanks'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button" target="_blank">LINEで診断結果を見る</a>

          <p class="red">＊今だけお友だち追加で<br>留学料金から¥5,000割引!!</p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>