<div class="step">
  <div class="step-content">
    <p>ご入力ありがとうございます。</p>
    <br>
    <p class="red">＊今だけお友だち追加で<br>留学料金から¥5,000割引!!</p>

    <a class="btn btn-success badge-pill" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'thanks'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button" target="_blank">LINEで診断結果を見る</a>

    <br>
    <br>

    <p>または</p>
    <!-- <p>メールで診断結果を見たい場合は<br>以下のフォームにご入力ください。</p> -->

    <p>▼メールで結果を受け取る場合はこちら</p>

    <!-- <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'thanks'});" onclick="return gtag_report_conversion('')" href="https://hanaseru.connect-flow.me/steps/fourth" role="button">メールで診断結果を受け取る</a> -->

    <%= form_for @user, url: wizard_path do |f| %>

      <%= render :partial => 'steps/error_message' %>

      <ul style="list-style-type: none; padding: 0px; margin: 20px 0px 0px 0px;">
        <!-- <li><%#= f.select :season, [["なるべく早く", "soon"], ["3ヶ月以内", "3_months"], ["半年以内", "6_months"], ["それ以上", "later"]], {:prompt => "ご希望の留学時期を選択"}, {class: 'form-control step-width', required: true} %></li>
        <li><%#= f.select :age, [["学生(20代含む)", "student"], ["20代", "twentieth"], ["30代", "thirtieth"], ["40代", "fortieth"], ["50代", "fiftieth"], ["60代以上", "sixtieth"]], {:prompt => "年齢を選択"}, {class: 'form-control step-width', required: true } %></li> -->
        <li><%= f.text_field :email, :placeholder =>"メールアドレスをご入力ください", :class => 'form-control step-width' , required: true %></li>
      </ul>

      <%= f.submit 'メールで診断結果を受け取る', :class => 'btn btn-danger step-width badge-pill' %>
    <% end %>
    <br>
  </div>
</div>