/*
$blue-color: #00BCD4;
pink: #F35B68;
beju: #FEF0D5;
cyan: #00BEB2;
darkcyan: #1A5D63;
*/

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ ProN', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'MS PGothic', sans-serif !important;
}

/*body {
  -webkit-text-size-adjust: 100%;
}*/

h1, h2, h3, h4, h5 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold !important;
}

h5 {
  color: #00BEB2 !important;
  font-size: 18px !important;
}

@media screen and (max-width: 767px){
  h5 {
    font-size: 16px !important;
  }
}

h6 {
  font-size: 18px !important;
  text-align: center;
  color: #555 !important;
  margin-top: 18px !important;
  margin-bottom: 0px !important;
  letter-spacing: .02rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: 1.5em !important;
}

@media screen and (max-width: 767px){
  h6 {
  font-size: 14px !important;
  }
}

p, td, th, label {
  color: #555;
  margin: 0px !important;
  line-height: 1.65em;
  font-size: 0.9rem;
}

h2 {
  color: #00BEB2 !important;
  margin: 0px !important;
  padding-top: 50px;
  /*padding-bottom: 10px;*/
  font-size: 32px !important;
  line-height: 1.5em !important;
}

@media screen and (max-width: 767px){
  h2 {
  font-size: 22px !important;
  padding-top: 50px;
  padding-bottom: 0px;
  }
}

h3 {
  color: #00BEB2 !important;
  margin: 0px !important;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 24px !important;
  line-height: 1.5em !important;
}

@media screen and (max-width: 767px){
  h3 {
  font-size: 18px !important;
  }
}

.part {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*h3 {
  font-size: 39px !important;
  color: white !important;
  font-weight: bold !important;
  padding-bottom: 30px;
}*/

.red {
  color: #F35B68 !important;
}

/*====================link====================*/

.btn-danger {
  background: #F35B68 !important;
  color: white !important;
  border-color: #F35B68 !important;
  font-weight: bold !important;
}

.btn-danger:hover {
  opacity: 0.8;
}

.btn-success {
  background: #1dcd00 !important;
  color: white !important;
  border-color: #1dcd00 !important;
  font-weight: bold !important;
}

.btn-success:hover {
  opacity: 0.8;
}

.btn-info {
  background: #00BEB2 !important;
  color: white !important;
  border-color: #00BEB2 !important;
  font-weight: bold !important;
}

.btn-info:hover {
  opacity: 0.8;
}

.modal-link {
  text-align: center;
}

.modal-link a {
  font-size: 30px;
  width: 500px;
  padding: 25px;
  margin: 50px 0px 50px 0px;
}

@media screen and (max-width: 575px){
  .modal-link a {
    font-size: 20px;
    width: 90%;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 30px 0px;
  }
}

.line_friend_button {
  margin: 20px 0;
}

.line_friend_button a:hover {
  opacity: 0.7;
}

/*====================navbar====================*/

nav {
  background: rgba(255,255,255,1.0);
  box-shadow: 0 2px 15px 0 rgba(71,70,71,0.1);
}

.navbar {
  padding: 10px 40px 10px 40px !important;
}

@media screen and (max-width: 767px){
  .navbar {
    padding: 10px 30px 10px 30px !important;
  }
}

@media screen and (max-width: 575px){
  .navbar {
    padding: 8px 20px 8px 20px !important;
  }
}

@media screen and (max-width: 400px){
  .navbar {
    padding: 8px 10px 8px 10px !important;
  }
}

.navbar-brand {
  padding: 0px !important;
}

@media screen and (max-width: 575px){
  .navbar-brand>img {
    height: 30px;
  }
}

.sub-title {
  font-size: 12px;
  line-height: 20px;
}

@media screen and (max-width: 575px){
  .sub-title {
    font-size: 10px;
    line-height: 12px;
  }
}

.nav-link {
  /*margin-left: 10px;*/
  display: inline !important;
  padding: 10px 20px 10px 20px !important;
}


@media screen and (max-width: 575px){
  .nav-link {
    margin-left: 0px;
    /*padding: 8px 8px 8px 8px !important;*/
    padding: 10px !important;
    /*font-weight: normal !important;*/
    font-size: 14px !important;
  }
}

/*.btn {
  box-shadow: 0 5px 10px rgba(71,70,71,0.2) !important;
}*/

/*====================top====================*/

#top {
  /*background-image: url(../img/fil1_169_2_1920_1.jpg);*/
  background-repeat: no-repeat;
  background-position: top right;
  background-size:cover;
  width: 100vw;
  height: 90vh;
  padding: 0px !important;
  margin-top: 80px;
}

@media screen and (max-width: 1024px){
  #top {
    margin-top: 80px;
    height: 94vh;
    background-position: center right -100px;
  }
}

@media screen and (max-width: 767px){
  #top {
    margin-top: 60px;
    height: 92vh;
    background-position: center right -200px;
  }
}

.transparent {
  /*background: rgba(0,0,0,0.3);*/
  background: rgba(0,190,178,0.5);
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 0 !important;
  /*border-bottom: 3px solid #fff !important;*/
  color: white !important;
  text-shadow: 2px 2px 2px#000;
  /*padding-top: 15px;*/
  padding-bottom: 10px;
  font-size: 40px !important;
}

/*@media screen and (max-width: 1024px){
  h1 {
    font-size: 40px !important;
  }
}*/

/*@media screen and (max-width: 767px){
  h1 {
    font-size: 60px !important;
  }
}*/

  /*@media screen and (max-width: 575px){
    h1 {
      font-size: 50px !important;
    }
  }*/

@media screen and (max-width: 374px){
  h1 {
  font-size: 30px !important;
  }
}

.top-content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.top-content>a {
  width: 300px;
  font-size: 18px !important;
  margin: 10px;
  padding: 15px !important;
}

.display-table {
  display: table;
  height: 92vh;
  width: 100%;
}

.upper-title {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
}

/*@media screen and (max-width: 1024px){
  .upper-title {
  font-size: 32px;
  }
}

@media screen and (max-width: 767px){
  .upper-title {
  font-size: 24px;
  }
}*/

/*@media screen and (max-width: 400px){
  .upper-title {
  font-size: 18px;
  }
}*/

.lower-title {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 2px #000;
  margin-top: 20px;
  margin-bottom: 20px !important;
  font-weight: bold;
}

/*@media screen and (max-width: 1024px){
  .lower-title {
    font-size: 32px;
  }
}*/

/*@media screen and (max-width: 767px){
  .lower-title {
  font-size: 24px;
  }
}*/

@media screen and (max-width: 374px){
  .lower-title {
  font-size: 18px;
  }
}

/*====================step====================*/

.step-content {
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 400px;
  padding: 25px;
  border-radius: .25rem;
}

/*@media screen and (max-width: 1024px){
  .step-content {
    width: 500px;
    padding: 50px;
  }
}*/

@media screen and (max-width: 575px){
  .step-content {
    width: 90%;
    /*padding: 30px 20px 30px 20px;*/
  }
}

@media screen and (max-width: 374px){
  .step-content {
    width: 95%;
    padding: 20px 10px;
  }
}

.step-content ul li {
  margin-bottom: 15px;
}

.step-content a {
  /*width: 200px;*/
  margin: 20px 0px 20px 0px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
}

.step-content p {
  font-size: 18px;
}

@media screen and (max-width: 575px){
  .step-content p {
    font-size: 15px;
    /*padding: 30px 20px 30px 20px;*/
  }
}

.form-control {
  display: inline !important;
  font-size: 0.9rem !important;
}

.step-width {
  width: 100% !important;
}

.step-header-a {
  /*background-color: #F35B68;*/
  font-weight: bold;
  color: #F35B68;
  font-size: 20px;
  /*line-height: 32px;*/
  /*margin-bottom: 15px !important;*/
}

@media screen and (max-width: 374px){
  .step-header-a {
    font-size: 16px;
  }
}

.step-header-b {
  margin-top: 5px !important;
  /*margin-bottom: 20px;*/
}

.step-form {
  margin: 20px 0px 20px 0px;
}

.search-school a {
  width: 90%;
}

.checkbox {
  text-align: left !important;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.form-check {
  padding: 0px;
}

/*====================counsellor====================*/

.frame {
  box-shadow: 0 2px 10px rgba(71,70,71,0.15);
  padding: 30px;
  margin: 30px;
}

@media screen and (max-width: 767px){
  .frame {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
  }
}

.counseller-img {
  /*display: table;*/
  text-align: center;
}

@media screen and (min-width: 767px){
  .c-img-small {
    display: none;
  }
}

@media screen and (max-width: 767px){
  .c-img-big {
    display: none;
  }
}

.counseller-img img {
  border-radius: 50%;
  width: 100%;
  max-width: 300px !important;
  box-shadow: 0 2px 10px rgba(71,70,71,0.15);
  /*padding: 10px;*/
}

@media screen and (max-width: 767px){
  .counseller-img img {
   margin: 10%;
   width: 80%;
   max-width: none;
  }
}

@media screen and (max-width: 767px){
  .counseller-info>p {
  margin-bottom: 20px !important;
  }
}

.middle-link {
  text-align: center;
  margin-top: 20px;
}

.middle-link>a {
  width: 300px;
  font-size: 18px !important;
  /*margin-top: 30px;*/
  padding: 15px !important;
}

@media screen and (max-width: 575px){
  .middle-link>a {
    width: 240px;
    margin: 10px;
  }
}

/*====================event====================*/

#event {
  /*background-image: url(../img/office-3295556_1920_50.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  padding: 0px !important;
}

.transparent-event {
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: table;
}

.transparent-event>h2 {
  color: white !important;
}

.event-info {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 5px;
}

.event-info>li {
  color: white;
  margin-bottom: 18px;
  font-size: 18px;
}

@media screen and (max-width: 575px){
  .event-info>li {
    font-size: 16px;
  }
}

.schedule {
  text-align: left;
}

.schedule>h3 {
  color: white !important;
}

.schedule>p {
  background-color: white;
  margin-bottom: 15px !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 2px;
  line-height: 24px;
}

.nagare {
  background-color: #00BEB2;
  color: white;
  padding: 9px 8px;
  margin-right: 8px;
  line-height: 24px;
}

/*====================miryoku====================*/

#miryoku {
  background-color: #fafafa;
}

.strength {
  text-align: center;
  margin: 0px;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 767px){
  .strength {
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.strength>img {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*@media screen and (max-width: 767px){
  .strength>img {
    height: 70px !important;
  }
}*/

.strength-a {
  font-weight: bold;
  font-size: 18px;
}

.strength-b {
  font-weight: bold;
  font-size: 18px;
}

.card {
  border: none !important;
  box-shadow: 0 2px 10px rgba(71,70,71,0.15);
}

/*====================support====================*/

th {
  vertical-align: middle !important;
  text-align: center !important;
  min-width: 70px !important;
}

@media screen and (max-width: 575px){
  th {
  font-size: 14px !important;
  }
}

@media screen and (max-width: 575px){
  td {
  font-size: 12px !important;
  }
}

/*====================voice====================*/

#voice {
  background-color: #fafafa;
}

/*====================campaign====================*/

#campaign {
  background-color: #00BEB2;
  /*background-image: url(../img/campaign.png);*/
  background-size: 300px !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  /*width: 100vw;*/
  padding: 0px !important;
}

@media screen and (max-width: 577px){
  #campaign {
    background-size: 80% !important;
  }
}

.white-bored {
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.camp-part {
  /*text-align: center;*/
  margin-top: 30px;
  margin-bottom: 50px;
}

.camp_first {
  font-size: 24px;
  color: #F35B68;
  font-weight: bold;
}

@media screen and (max-width: 767px){
  .camp_first {
    font-size: 18px;
  }
}

.camp-second {
  font-size: 14px;
  color: #555 !important;
}

/*====================contanct====================*/

input::-webkit-input-placeholder {
    font-size: 14px;
}
input:-moz-placeholder {
    font-size: 14px;
}
input::-moz-placeholder {
    font-size: 14px;
}
input:-ms-input-placeholder {
    font-size: 14px;
}

/*====================footer====================*/

footer {
  text-align: center;
  background-color: #E8F8F5;
}

footer>p {
  color: #555;
  margin-bottom: 0px;
  font-size: 18px;
}

@media screen and (max-width: 767px){
  footer>p {
  font-size: 12px;
  }
}

.footer-content {
  padding: 50px 0px 20px 0px;
}

.footer-link {
  padding-bottom: 30px;
}

.footer-link a {
  font-size: 18px;
  padding: 15px;
}

.company-link a {
  color: #00BEB2;
}