// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-header {
  font-size: 32px !important;
  margin: 0px 0px 0px 10px !important;
  color: black !important;
}