<!-- ====================campaign==================== -->

  <div id="campaign" style="background-image:url(<%= asset_path "campaign.png" %>)">
    <div class="white-bored">
      <div class="camp-bg">
      <h2>今だけお得な<br class="d-sm-none">キャンペーン実施中</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="camp-part">
                <p class="camp_first">★キャンペーンA：ともだちを紹介して、最大30,000円キャッシュバック!!</p>
                <p class="camp-second">紹介頂いたご友人が弊社で留学参加を申し込んだ場合、紹介者とご友人両方にキャッシュバックを致します。</p>
                <p class="camp-second">※ご友人の留学期間に応じて、4週間毎に5000円のキャッシュバックになります。</p>
                <br>
                <p class="camp_first">★キャンペーンB：
                個別面談に参加で留学費用から5,000円OFF!!</p>
                <p class="camp-second">無料留学面談にお越し頂いた方全員に5,000円OFFの割引を実施致します。</p>
                <br>
                <p class="camp-second">＜注意＞<br>※キャンペーンAとBは併用可能です。<br>※本キャンペーンは予告なく終了する場合がございますのでご了承ください。<br>※どちらも留学期間が4週間以上で適用になります。 </p>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ====================riyu==================== -->

<div id="riyu">
  <h2>HANASERUが<br class="d-sm-none">選ばれる理由</h2>
  <h6>徹底的にお客様に寄り添います。</h6>
  <div class="part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="strength">
            <p class="strength-a">1.「手数料完全無料！」</p>
            <p class="strength-b">費用を抑えれてお得</p>
            <!-- <img src="img/investment.png" alt="..."> -->
            <%= image_tag('riyu1.png') %>
            <br>
            <p class="strength-c">HANASERUでは、一切の手数料をお客様から頂いておらず完全無料でご利用頂けます。そして各種割引で学校に直接お申し込みされるより、費用を抑えてお安く留学が可能です。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="strength">
            <p class="strength-a">2.「納得いくまで何度でも！」</p>
            <p class="strength-b">手厚い留学相談</p>
            <!-- <img src="img/consulting.png" alt="..."> -->
            <%= image_tag('riyu2.png') %>
            <br>
            <p class="strength-c">納得いくまで何度でも無料のカウンセリング。お忙しい方でも便利なスカイプ・オンライン面談。LINE@での24時間チャットで気軽に質問も可能です。留学前後の勉強サポートも好評です。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="strength" style="padding-bottom: 0px;">
            <p class="strength-a">3.「留学中も安心安全！」</p>
            <p class="strength-b">サポート体制も充実</p>
            <!-- <img src="img/support.png" alt="..."> -->
            <%= image_tag('riyu3.png') %>
            <br>
            <p class="strength-c">現地在住の日本人スタッフが万一の際にも手厚くサポート。24時間チャットサポートで緊急時も安心です。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-link">
  <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'inquiry','event_label': 'middle1'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#top" role="button">無料でおすすめの学校を診断</a>
</div>

<!-- ====================counsellor==================== -->

<div id="counseller">
  <div class="part">
    <div class="frame">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="counseller-info">
            <h3>フィリピン留学のプロが<br class="d-sm-none">徹底相談</h3>
            <div class="counseller-img c-img-small"">
              <!-- <img src="img/nonaka90.jpg" alt="..."> -->
              <%= image_tag('counsellor.jpg', :class => "") %>
            </div>
            <p>留学でお客様の人生を広げるお手伝いをさせてください！フィリピン最大のポータルサイトの元運営メンバーだからこそ知っている、フィリピン留学、バギオ留学のメリット・デメリットを余すことなくお伝えできればと思います。バギオで英語を勉強して終わりではなく、留学をしてどういうキャリアを作るか、どんな人生を築いていくかを一緒に考えさせてください。</p>
            <div class="middle-link">
              <a class="btn btn-success badge-pill big-link" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'middle'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button" target="_blank">LINEで相談する</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="counseller-img c-img-big">
            <%= image_tag('counsellor.jpg') %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- ====================event==================== -->

<div id="event" style="background-image:url(<%= asset_path "event.jpg" %>)">
  <div class="transparent-event">
  <h2>無料留学相談会実施中!!</h2>
  <div class="part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <ul class="event-info">
            <li>○ 東京・神奈川で毎日開催</li>
            <li>○ 出張面談も承ります</li>
            <li>○ 遠方の方もSkypeでオンライン面談可能</li>
            <li>○ 24時間LINE＠チャット対応</li>
          </ul>
        </div>
        <div class="col-md-5">
          <div class="schedule">
            <h3>＜当日の流れ＞</h3>
            <p><span class="nagare">STEP1</span>フィリピン留学のリアル</p>
            <p><span class="nagare">STEP2</span>留学プランと学校選び</p>
            <p><span class="nagare">STEP3</span>留学費用お見積もり</p>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
<!--     <div class="middle-link">
      <a class="btn btn-danger badge-pill -linkbig" onclick="gtag('event', 'click', {'event_category': 'contact','event_label': 'event'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#contact" role="button">無料で面談予約</a>
    </div> -->
  </div>
  </div>
</div>

<!-- ====================miryoku==================== -->

<div id="miryoku">
  <h2>フィリピン留学の魅力</h2>
  <h6>最適な英語学習の環境で世界を広げるチャンスがそこにあります。</h6>
  <div class="part">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-md-1 d-none d-sm-block"></div> -->
        <div class="col-md-12">
          <div class="card-deck">
            <div class="card">
              <!-- <img class="card-img-top" src="img/coins-1726618_640_169.jpg" alt="カード1の画像"> -->
              <%= image_tag('miryoku1.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">1. 欧米の半額以下!? 圧倒的な安さ</h5>
                <p class="card-text">平均１ヶ月の授業料は15万円ほど、その授業料には寮の宿泊費用と三食の費用が基本的には含まれているので日常のお小遣いや航空券を足しても総額20万円ほどで留学可能。トータルで比較すると、欧米やオーストラリアなどの留学費用の半額以下で留学ができるのが大きな魅力です。</p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top" src="img/DSC06701_169.jpg" alt="カード2の画像"> -->
              <%= image_tag('miryoku2.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">2. 完全マンツーマン授業</h5>
                <p class="card-text">語学留学では10~20人の集団授業がメインですが、中々発言できずに英語が伸びないなんてこともしばしば。フィリピン留学ではマンツーマン授業が主体であなたのレベルに合わせた最適な授業で確実に英語を伸ばせます！</p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top" src="img/cardillera_600_80.jpg" alt="カード3の画像"> -->
              <%= image_tag('miryoku3.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">3. 治安も安心な学園都市</h5>
                <p class="card-text">少し不安な治安についても、学園都市バギオの犯罪率は東京以下というデータもあるくらい治安が良く安心して学習に集中できます。また物価も日本の1/3ほどなのでリーズナブルに生活可能です。平日はしっかり勉強して週末はリフレッシュでメリハリのきいた最高のフィリピンステイを送りましょう。</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-1 d-none d-sm-block"></div> -->
      </div>
    </div>
  </div>

  <div class="modal-link">
    <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'inquiry','event_label': 'middle2'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#top" role="button">無料でおすすめの学校を診断</a>
  </div>

</div>

<!-- ====================support==================== -->

<div id="support">
  <h2>充実のサポート内容</h2>
  <h6>安心して出発でき、最高の留学生活を送れるよう全力でサポート致します。</h6>
  <div class="part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>留学前</th>
                <td>○ 納得いくまで何度でも無料のカウンセリング<br>○ 英語初心者でも安心の学習サポート<br>○ 航空券購入・保険のサポート<br>○ 学校入学手続き<br>○ LINE@での24時間チャット<br>○ 地方でも安心のスカイプ面談</td>
              </tr>
              <tr>
                <th>留学中</th>
                <td>○ 緊急時の現地スタッフ対応<br>○ 安心の24時間チャットサポート<br>○ 留学中のボランティア参加など</td>
              </tr>
              <tr>
                <th>帰国後</th>
                <td>○ ワーホリサポート<br>○ 転職支援・紹介<br>○ 新卒就活サポート<br>○ フィリピンNGOインターン紹介</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal-link">
  <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'contact','event_label': 'navbar'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#top" role="button">無料でおすすめの学校を診断</a>
</div> -->

<!-- ====================voice==================== -->

<div id="voice">
  <h2>お客様の声</h2>
  <h6>様々なご年齢・職業の方から評価を頂いております。</h6>
  <div class="part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-deck">
            <div class="card">
              <%= image_tag('student1.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">"デメリットも伝えてくれて信頼できた"</h5>
                <p class="card-text">慣れない海外で全てが不安でしたが、何度も無料で面談をしてくれ、親身に相談に乗って頂き、学校毎にメリットだけでなく、デメリットも教えてくれて凄く参考になりました。また英語初心者の私に学校選びだけでなく勉強方法のアドバイスまでしてくれたのが他のエージェントと比べて印象的でした。</p>
              </div>
            </div>
            <div class="card">
              <%= image_tag('student2.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">"留学中も親切でNGOに繋げてくれた"</h5>
                <p class="card-text">留学が決定したら終わりではなく、留学中に学校のスタッフに相談しずらいこともLINEでいつでも相談に乗って頂いたのが非常に助かりました。また個人的にせっかくフィリピンに来たのだからボランティアなどで現地を知りたいと思い、相談したところNGOを紹介してくれるなど、最高の留学にすることができました。</p>
              </div>
            </div>
            <div class="card">
              <%= image_tag('student3.jpg', :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">"バギオにハマってリピートです"</h5>
                <p class="card-text">留学出発後、帰国後ともによく連絡を頂き、送り出してすぐ終わりじゃない姿勢に好感を持てました。また2回目の留学もバギオに来てしまうくらいバギオの雰囲気にハマってしまいました。リピート割引もあって、継続して学習するモチベーションになっています！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- ====================footer==================== -->

<footer>
  <div class="modal-link">
    <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'inquiry','event_label': 'middle3'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#top" role="button">無料でおすすめの学校を診断</a>
  </div>
  <!-- <div class="footer-content">
    <div class="footer-link">
      <a class="btn btn-danger badge-pill" onclick="gtag('event', 'click', {'event_category': 'contact','event_label': 'navbar'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#top" role="button">無料でおすすめの学校を診断</a>
    </div> -->
    <!-- <div class="footer-link">
      <a class="btn btn-success badge-pill" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'navbar'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button" target="_blank">LINEで気軽に相談する</a>
    </div> -->
    <!-- <div class="company-link">
      <a href="https://connect-flow.me/" target="_blank">運営会社</a>
    </div> -->
  </div>
  <p>Copyright &copy 2018 <a href="https://connect-flow.me/" target="_blank">Connect&Flow inc,</a> All Rights Reserved.</p>
</footer>