<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121914020-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-121914020-1');
gtag('config', 'AW-797869593');
</script>

<!-- Google Adwordsのスニペット -->
<!-- Event snippet for submit conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-797869593/c2E8CJy7gYYBEJmMuvwC',
        'event_callback': callback
    });
    return false;
    }
</script>



<!-- //OGP共通項目 -->
<meta property="og:title" content="人生を変えるフィリピン留学" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://ryugaku.connect-flow.me/" />
<meta property="og:image" content="http://ryugaku.connect-flow.me/img/hanaseru_ogp_1200.jp" />
<meta property="og:site_name"  content="HANASERU" />
<meta property="og:description" content="人生を変えるフィリピン留学。完全無料の留学エージェント「HANASERU」" />

<!-- //Facebook用 -->
<!-- <meta property="fb:app_id" content="214709949332456" /> -->
<!-- <meta property="article:publisher" content="https://www.facebook.com/chaild.official" /> -->

<!-- //Twitter用 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="http://ryugaku.connect-flow.me/">
<!-- <meta name="twitter:site" content="@CHAILD_official" /> -->
<meta name="twitter:title" content="HANASERU" />
<!-- <meta name="twitter:url" content="https://twitter.com/CHAILD_official" /> -->
<meta name="twitter:description" content="人生を変えるフィリピン留学。完全無料の留学エージェント「HANASERU」" />
<meta name="twitter:image" content="http://ryugaku.connect-flow.me/img/hanaseru_ogp_1200.jp" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="..images/hanaseru.png" size="16×16"> -->
<%= favicon_link_tag('hanaseru.png') %>
<!-- <link rel="apple-touch-icon" sizes="128x128" href="..images/hanaseru.png"> -->
<%= favicon_link_tag('hanaseru.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
<!-- custom_cssのCSS読み込み -->
<%= stylesheet_link_tag :index %>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<title>HANASERU</title>
<meta name="keywords" content="留学,HANASERU,フィリピン,フィリピン留学,セブ,バギオ">
<meta name="description" content="人生を変えるフィリピン留学。完全無料の留学エージェント「HANASERU」">
<meta name="og:keywords" content="留学,HANASERU,フィリピン,フィリピン留学,セブ,バギオ">
<meta name="og:description" content="人生を変えるフィリピン留学。完全無料の留学エージェント「HANASERU」">