<!-- ====================navbar==================== -->
<nav class="navbar navbar-light fixed-top">
  <a class="navbar-brand" href="#top">
    <p class="sub-title">話せるにコミットした留学エージェント</p>
    <%= image_tag("hanaseru_logo.png", :alt => "ブランド", :height => "40") %>
  </a>
  <div id="Navber">
    <a class="btn btn-success badge-pill nav-link" onclick="gtag('event', 'click', {'event_category': 'line','event_label': 'header'});" onclick="return gtag_report_conversion('http://line.me/ti/p/%40ukz1853u')" href="http://line.me/ti/p/%40ukz1853u" role="button" target="_blank">LINE見積</a>
    <!-- <a class="btn btn-danger badge-pill nav-link" onclick="gtag('event', 'click', {'event_category': 'contact','event_label': 'navbar'});" onclick="return gtag_report_conversion('http://ryugaku.connect-flow.me/#contact')" href="#contact" role="button">面談予約</a> -->
  </div>
</nav>