<!DOCTYPE html>
<html lang="ja">
  <head>
     <!-- <%= analytics_init if Rails.env.production? %> -->
    <title>HANASERU</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!-- ====================top==================== -->

    <div id="top" style="background-image:url(<%= asset_path "top.jpg" %>)">
      <div class="transparent">
        <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-md-7" style="padding: 0px;"> -->
              <div class="display-table">
                <div class="top-content">

                  <%= yield %>

                </div>
              </div>
            <!-- </div>
            <div class="col-md-5"></div>
          </div>
        </div> -->
      </div>
    </div>

    <%= render 'layouts/body' %>
    <%= render 'layouts/read_js' %>
  </body>
</html>
