<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>HANASERU</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/head' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/read_js' %>
  </body>
</html>
